/* ht to CSS tricks */

blockquote {
    background: rgba(200, 200, 200, 0.15); /* Faint grey background */
    border-left: 10px solid var(--primary-color);
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }
  
  blockquote:before {
    color: var(--primary-color);
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  
  blockquote p {
    display: inline;
  }
  